{{- define "main" }}

  {{- if (and site.Params.profileMode.enabled .IsHome) }}
    {{- partial "index_profile.html" . }}
  {{- else }}
  {{- $term := .Data.Term }}

    {{- if not .IsHome | and .Title }}
      <header class="page-header">
        {{- partial "breadcrumbs.html" . }}
        <h1>{{ .Title }}</h1>
        {{- if .Description }}
          <div class="post-description">{{ .Description | markdownify }}</div>
        {{- end }}
      </header>
    {{- end }}

    {{- if .Content }}
      <div class="post-content">
        {{- if not (.Param "disableAnchoredHeadings") }}
          {{- partial "anchored_headings.html" .Content -}}
        {{- else }}{{ .Content }}{{ end }}
      </div>
    {{- end }}

    {{- $pages := union .RegularPages .Sections }}
    {{- if .IsHome }}
      {{- $pages = where site.RegularPages "Type" "in" site.Params.mainSections }}
      {{- $pages = where $pages "Params.hiddenInHomeList" "!=" "true" }}
    {{- end }}

    {{- $paginator := .Paginate $pages }}

    {{- range $paginator.Pages }}
      {{- $class := "post-entry" }}
      {{- if $term }}
        {{- $class = "post-entry tag-entry" }}
      {{- end }}

      <article class="{{ $class }}">
        <header class="entry-header">
          <h2 class="entry-hint-parent">{{ .Title }}</h2>
        </header>
        <div class="entry-content">
          <p>{{ .Summary | plainify | htmlUnescape }}{{ if .Truncated }}...{{ end }}</p>
        </div>
        <footer class="entry-footer">
          {{- partial "post_meta.html" . -}}
        </footer>
        <a class="entry-link" href="{{ .Permalink }}"></a>
      </article>
    {{- end }}

    {{- if and (not .IsHome) (gt $paginator.TotalPages 1) }}
      <nav class="pagination">
        {{ template "_internal/pagination.html" . }}
      </nav>
    {{- end }}

  {{- end }}

{{- end }}{{/* end main */}}
